body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.error-color {
  color: red;
  font-weight: bold;
}
